<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes do Forecast</title>

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body class="bg-gradient-to-b from-[#110F25] to-[#290C08] min-h-screen text-white font-[Inter]">

        <!-- Topo -->
        <div class="flex justify-between items-center px-6 py-4">

            <a href="{% url 'mars_weather' %}" class="text-2xl text-white">
                <i class="bi bi-caret-left cursor-pointer"></i>

            </a>

        </div>

        <!-- Saudação -->
        <div class="flex items-center gap-4 justify-center mb-20 mt-20">

            <i class="bi bi-person-circle text-4xl"></i>
            <p class="text-2xl font-semibold">Alô, Marciano!</p>

        </div>

        <!-- Informacoes Vitais -->
        <div class="flex justify-center">

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 max-w-[1000px] w-full px-6">

                <div class="bg-[#2D1425] rounded-xl p-4">

                    <div class="flex items-center gap-2 mb-4">

                        <i class="bi bi-thermometer-half text-xl"></i>
                        <p class="text-lg font-medium">Temperatura Corporal</p>

                    </div>

                    <p id="tempCorporal" class="text-4xl font-bold text-center">--</p>
                </div>

                <div class="bg-[#2D1425] rounded-xl p-4">

                    <div class="flex items-center gap-2 mb-4">

                        <i class="bi bi-droplet-fill text-xl"></i>
                        <p class="text-lg font-medium">Oxigenação Sanguínea</p>

                    </div>

                    <p id="oxigenacao" class="text-4xl font-bold text-center">--</p>
                </div>

                <div class="bg-[#2D1425] rounded-xl p-4">

                    <div class="flex items-center gap-2 mb-4">

                        <i class="bi bi-heart-pulse text-xl"></i>
                        <p class="text-lg font-medium">Batimento Cardíaco</p>

                    </div>

                    <p id="batimento" class="text-4xl font-bold text-center">--</p>
                </div>

                <div class="bg-[#2D1425] rounded-xl p-4">

                    <div class="flex items-center gap-2 mb-4">

                        <i class="bi bi-arrows-collapse text-xl"></i>
                        <p class="text-lg font-medium">Pressão Arterial</p>

                    </div>
                    
                    <p id="pressao" class="text-4xl font-bold text-center">--</p>
                </div>

            </div>
        </div>

        <script>
            function atualizarDados() {
                fetch('/status-astronauta/')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('tempCorporal').innerText = data.temperatura_corporal + "°C";
                        document.getElementById('batimento').innerText = data.batimento_cardiaco + " BPM";
                        document.getElementById('oxigenacao').innerText = data.oxigenacao + "%";
                    });
            }

            function atualizarPressao() {
                fetch('/pressao/')
                    .then(response => response.json())
                    .then(data => {
                        const valor = `${data.sistolica}/${data.diastolica} mmHg`;
                        document.getElementById('pressao').textContent = valor;
                    })
                    .catch(err => {
                        console.error('Erro ao buscar pressão arterial:', err);
                    });
            }

            atualizarDados();
            atualizarPressao();
            setInterval(atualizarDados, 15000);
            setInterval(atualizarPressao, 15000);
        </script>

    </body>

</html>
